body{
    background-image:radial-gradient(circle,rgb(221, 127, 221),plum,lightpink);
}

h1{
    color:purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: unset;
}

.coment{
    width: 190px;
    height: 60px;
}